html {
    font-family: 'consolas', sans-serif;
}

body {
    margin: 0px;
    padding: 20px;

    background-color: #20262e !important;
}



/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    html {font-size:100%;}
    #greeting, #time, #date {text-align:center !important; width:100%;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    html {font-size:2rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {font-size:1.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    html {font-size:1rem;} /*1rem = 16px*/
    #greeting {text-align:left  !important;  width:100%;}
    #time, #date{text-align:right !important; width:100%;}
}